<div class="row row-cols-2">
  <div class="col-sm-2 columna1">
    <img class="asea-img" src="../../../assets/ASEA.jpeg" alt="ASEA" />
  </div>

  <div class="col-sm-10 columna2">
    <img src="../../../assets/gobmex.jpeg" alt="gobmex" />
  </div>

  <div class="col-sm-2 columna3"></div>

  <div class="col-sm-10 container columna4">
    <div class="pt-5 px-5">
      <h2>Registro a la OPE</h2>

      <h3 class="mt-5 mb-4">Datos de identificación y contacto</h3>

      <form class="row g-3">
        <div class="col-md-4">
          <input
            type="text"
            class="form-control"
            id="inputEmail4"
            placeholder="Nombre(s)*"
          />
        </div>
        <div class="col-md-4">
          <input
            type="text"
            class="form-control"
            placeholder="Primer Apellido"
          />
        </div>
        <div class="col-md-4">
          <input
            type="text"
            class="form-control"
            placeholder="Segundo Apellido"
          />
        </div>
        <div class="col-md-5">
          <input
            type="text"
            class="form-control"
            placeholder="RFC*"
          />
        </div>
        <div class="col-md-5">
          <input
            type="text"
            class="form-control"
            placeholder="CURP*"
          />
        </div>
        <div class="col-md-4">
          <input
            type="email"
            class="form-control"
            placeholder="Correo electrónico*"
          />
        </div>
        <div class="col-md-4">
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Contraseña*"
          />
        </div>
        <div class="col-md-4">
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Confirmar contraseña*"
          />
        </div>

        <div class="col-12 mt-5">
          <h4>La contraseña debe cumplir con los siguientes requisitos:</h4>
          <ul>
            <li>Debe tener entre 8 y 16 caracteres</li>
            <li>Debe tener al menos una letra mayúscula, una minúscula y un número</li>
          </ul>
        </div>

        <div class="col-12">
          <h3>Deseas registrarte como:</h3>
        </div>

        <div class="col-6">
          <div class="form-check radio-flex me-5">
            <input
              class="form-check-input me-2"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Regulado
            </label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault2"
              checked
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Tercero
            </label>
          </div>
        </div>

        <div class="btn-centrar">
          <button type="submit" class="btn btn-secondary px-5 py-2">
            Cancelar
          </button>

          <button type="submit" class="btn btn-secondary px-5 py-2">
            Registrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
